h1 {
    text-align: center;
}

.product {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    display: inline-block;
    width: 260px;
}

.product img {
    max-width: 100%;
    height: auto;
}

.price {
    font-weight: bold;
    color: #f00;
}

.ingredients {
    color: #888;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #7a7a7a;
}
.areaprincipal{
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    text-align: justify;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
#encabezado{
    background: #d0e6f8;
    height: 240px;
    text-align: center;
    background-image: url(../img/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 180px 180px;
}
.pieDePagina{
    width: 100%;
    height: 100%;
    background: #15101b;
    color: white;
    bottom: 0;
    position: fixed;
    left: 0;
}
#menu{
    height: 40%;
    position: relative;
    top: 200px;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #333333;
}
li{
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}
li a:hover{
    background-color: #111111;
}
#datos{
    width: 80%;
    background-color: #88e94f;
    height: 300px;
    margin: auto;
    opacity: 1;
    color: #2a3b55;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}

